{% extends "layout.html" %}
{% block content %}
<h1>About Project</h1>
    <p>The main aim of this website is to build a privacy-aware framework to secure private data and make the user aware of what data is being shared and to whom. We took a fitbit and we pulled the data from fitbit using get api and post api where a token is generated and we will get the data in json format. We used the TCP/UDP tool to send the data from the phone to the server. The data is sent in dictionary format. Now user data will be collected from the user’s mobile to server and a prompt will popup asking to store the data in the database or not and also asks the user to set expiry of data. If we click yes the data will be sent to the database in an AES encrypted format or if no is selected by the user it will automatically kill the process.
<h2>Developed by</h2>
<h3><centre> Cyrus William D’Lima  </centre> </h3>
<h3><centre>Challa Dheeraj Reddy</centre></h3>
<h3><centre>D R Sai Praneeth</centre></h3>
{% endblock content %}